*{
    /* padding: 0; */
    margin: 0;
}
.navbar{
    height: 8rem;
    background-color: rgb(92, 173, 173);
    display: flex;
    color: rgb(245, 249, 249);
    /* justify-content: center; */
    justify-content:space-evenly;
}
.about{
    padding-top:20px;
    margin-left: 40px;
    text-shadow: 2px 2px 3px rgb(62, 185, 246);
    justify-content:space-evenly;
    
}